@font-face {
    font-family: blanka;
    src: url('../fonts/Blanka-Regular.ttf');
}

.artist_hire--section .main--box .box--a .box--b .check--box.radio--check input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1.58824px solid #FD2F71;
    border-radius: 3px;
    margin: 0;
    display: flex;
    place-content: center;
    width: 30px;
    height: 30px;
}

.artist_hire--section .main--box .box--a .box--b .check--box.radio--check input[type=radio]::before {
    content: "";
    width: 18px;
    height: 20px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    transform-origin: bottom left;
    -webkit-clip-path: polygon(10% 43%, 0 43%, 50% 100%, 100% 16%, 95% 0%, 48% 72%);
    clip-path: polygon(10% 43%, 0 43%, 50% 100%, 100% 16%, 95% 0%, 48% 72%);
    margin: 3px 0;
}

.artist_hire--section .main--box .box--a .box--b .check--box.radio--check input[type=radio]:focus-visible,
.artist_hire--section .main--box .box--a .box--b .check--box.radio--check input[type=radio]:focus {
    outline: unset;
}

.artist_hire--section .main--box .box--a .box--b .check--box.radio--check input[type=radio]:checked::before {
    transform: scale(1);
    background: #FD2F71;
}

.form--group {
    margin-bottom: 15px;
}

.form--group.mb-0 {
    margin-bottom: -15px;
}

.club--page,
.artist--page,
.artist--list,
.club--list {
    background-position: center;
}

.artist_hire--section .main--box .box--c.intro .grid--box .form-control::placeholder {
    color: #fff;
}

.artist_hire--section .main--box .box--c .search--box .form-control {
    color: #fff !important;
}

.artist_hire--section .main--box .box--c .search--box .form-control::placeholder {
    color: #fff !important;
}

.artist_hire--section .main--box .box--c.channel .channel--box h5 {
    text-align: left !important;
}

.grid--box .fa.fa-edit {
    float: right;
    margin: 50px -25px;
    position: absolute;
    top: auto;
    color: #555555;
}

.artist_hire--section .main--box .box--c .wallet--box .style--box .wrapper--box p {
    text-align: left !important;
}

.date-input {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: -35px 15px;
    float: right;
    text-align: right;
    width: 25px;
    height: 25px;
}

.ui-state-default,
.ui-widget-content .ui-state-default:last-child {
    border: 2px solid transparent;
    background: transparent;
    font-weight: normal;
    color: transparent;
    border-radius: 0;
    padding: 0;
    outline: 1px solid transparent;
}

.slider-box .price--box input:focus,
 :focus-visible {
    outline: none !important;
    border: none !important;
}

label.error {
    font-size: 12px;
    color: red;
    position: absolute;
    margin: -7px 0;
    font-weight: bold;
    display: block;
    padding: 0;
}

.login--section .main--box .wrapper--box .flex--50 {
    padding: 7%;
    overflow-y: unset !important;
    /* height: unset !important; */
    display: flex;
    align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.mobile--logo {
    display: none;
}

@media only screen and (max-width: 991px) {
    .mobile--logo {
        display: block;
    }
    .mobile--logo img {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        margin-bottom: 25px;
    }
    /* .login--section .main--box .wrapper--box .flex--50 {
        background-image: url(../img/rg_img.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0 7%;
        display: flex;
        align-items: center;
        overflow-y: unset;
    } */
    .register--page {
        background-image: url(../img/rg_img.png) !important;
        background-repeat: no-repeat;
        padding: 0 7%;
        display: flex;
        align-items: center;
        overflow-y: unset;
        background: transparent;
        height: 100vh;
        background-size: cover;
    }
}