@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

::selection {
    color: rgb(21, 114, 29);
    background: rgb(158, 184, 255);
}

.top-text {
    background: linear-gradient( 272deg, rgb(113, 143, 175) 0%, rgb(69, 92, 114) 100%);
    font-family: "Roboto";
    padding: 9px 2px;
    font-size: larger;
    color: white;
}

.img {
    width: 20rem;
}

.f-famaly {
    font-family: "Roboto";
    font-weight: 700;
}

.sub-text {
    font-family: "Roboto";
    font-size: x-large;
    background: linear-gradient( 192deg, rgb(227, 244, 253) 88.1%, rgb(170, 209, 226) 100%);
    margin: 0;
}

.img-block {
    display: block;
}

.img-multi {
    margin: 5px 2px;
    font-size: 30px !important;
    width: 91px;
    border-radius: 4px;
}

.sub-text b {
    font-size: initial;
    cursor: pointer;
}

.top-text .read {
    color: red;
}

.add-icon-color {
    color: #eaff18;
}

.new-ul {
    list-style: none;
    display: flex;
}

.sub-text li {
    list-style: none;
}

.sub-text li:hover {
    background: linear-gradient( 292deg, rgb(39 43 44 / 6%) 0%, rgb(241 60 43 / 9%) 100%);
}

.card-body {
    padding: 0;
}

.b-redius {
    border-radius: 30px;
    border: none;
    outline: none !important;
    background: linear-gradient(132deg, rgb(161 255 215) 0.00%, rgb(1 1 1) 100.00%);
}

.sub-text tbody tr:hover {
    background: linear-gradient( 292deg, rgb(39 43 44 / 6%) 0%, rgb(241 60 43 / 9%) 100%);
}

.sub-text thead {
    font-size: 22px;
}

.top-text-new {
    font-family: "Roboto";
    font-size: larger;
    color: white;
    background: linear-gradient( 124deg, rgb(58 34 254 / 21%) 13.59%, rgb(190 255 186 / 38%) 82.66%);
    font-weight: 700;
    color: #000000;
}

audio {
    background: crimson;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .img-multi {
        width: 106px;
    }
    audio {
        width: -webkit-fill-available;
    }
    td .aa {
        font-size: small;
    }
}