// colors
$white :#fff;
$black :#000;
$gray :#bbb;
$color1 :#959595;
$color2 :#FE262F;
$color3 :#FD2F71;
$color4 :#FFCF41;
$color5 :#D9D9D9;
$color6 :#B1282E;
$color7 :#f0f0f08c;
$color8 :#434343;
$color9 :#434445;
$blue :#357bf2;
$red :#e1503c;
$green :#06A228;
$gradient1: linear-gradient(95.75deg, $color2 10.71%, $color3 93.51%);
$gradient1rev: linear-gradient(95.75deg, $color3 10.71%, $color2 93.51%);
$gradient2: linear-gradient(95.75deg, #FFE4E6 10.71%, #FFDEE9 93.51%);
$gradient3: linear-gradient(47.52deg, #EA6B00 24.6%, #FC8C05 83.43%);