.footer--section {
    // width: var(--width);
    padding: 0 0 10px;
    background: $color2;
    .main--box {
        max-width: $width;
        margin: 0 5%;
        .wrapper--box {
            display: $flex;
            justify-content: $spacebetween;
            margin: 0;
            // border-top: 1px solid #8e8e8e33;
            padding-top: 25px;
            .left--box {
                .copy--box {
                    p {
                        color: $white;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 27.32px;
                    }
                }
            }
            .right--box {
                .url--wrapper {
                    .f--url {
                        color: $white;
                        margin-right: 32px;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 27.32px;
                        &:last-child {
                            &:after {
                                content: unset;
                            }
                        }
                        &::after {
                            content: '';
                            width: 1px;
                            height: 25px;
                            background: $color5;
                            position: $absolute;
                            margin: 0 15px;
                        }
                        &:hover {
                            color: $color3;
                        }
                    }
                }
            }
        }
    }
}