$no-repeat: no-repeat;
$cover: cover;
$fixed: fixed;
$sticky: sticky;
$relative: relative;
$absolute :absolute;
$spacebetween :space-between;
$spaceevenly :space-evenly;
$spacearound :space-around;
$inlineflex :inline-flex;
$inlineblock :inline-block;
$flexstart :flex-start;
$flexend :flex-end;
$flex :flex;
$grid :grid;
$left :left;
$right :right;
$center :center;
$bottom: bottom;
$top: top;
$start: start;
$block :block;
$none :none;
$hidden :hidden;
$wrap :wrap;
$uppercase :uppercase;
$capitalize :capitalize;
$lowercase :lowercase;
$transparent :transparent;
$width :100%;
$pointer: pointer;
$inline_block: inline-block;
$middle: middle;
$initial: initial;
$underline: underline;
$auto: auto;
$scroll: scroll;
$unset: unset;
$visible: visible;
$column: column;
$solid: solid;
$normal: normal;
$exclude: exclude;