// colors
$white :#fff;
$black :#000;
$gray :#bbb;
$color1 :#FFF852;
$color2 :#D71362;
$color3 :#0C0522;
$color4 :#0B051C;
$color5 :#0F0F3B;
$color6 :#909090;
$color7 :#1D0B0B;
$color8 :#434343;
$color9 :#434445;
$color10 :#C0392B;
$color11 :#1DB205;
$color12 :#0D002B;
$color13 :#FAFAFA;
$color14 :#D9D9D9;
$blue :#357bf2;
$blue2 :#008AD8;
$red :#e1503c;
$green :#06A228;
// $gradient1: linear-gradient(95.75deg, $color2 10.71%, $color3 93.51%);
$gradient1: linear-gradient(180deg, #211148 1.39%, rgba(27, 10, 69, 0.97) 14.6%, #100726 100%);
$gradient2: linear-gradient(102.44deg, #3F1EB5 4.29%, #5F15B7 55.68%);
// $gradient1rev: linear-gradient(95.75deg, $color3 10.71%, $color2 93.51%);
// $gradient2: linear-gradient(95.75deg, #FFE4E6 10.71%, #FFDEE9 93.51%);
// $gradient3: linear-gradient(47.52deg, #EA6B00 24.6%, #FC8C05 83.43%);