@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Reem';
    src: url('../fonts/ReemKufiFun-Regular.ttf');
}

$reem: 'Reem';
$roboto: 'Roboto';
$roboto-light: 'Roboto-Light';
$poppins: 'Poppins';