    @import '_common.scss';
    .c-header {
        display: $flex;
        align-items: $center;
        padding: 1.2rem;
        position: $absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        background: #27272766;
        backdrop-filter: blur(5.5px);
        justify-content: $center;
        max-width: $width;
        &.sticky {
            position: $fixed;
        }
        .offer--logo {
            display: $none;
        }
        .c-header__title {
            display: $none;
        }
    }
    
    .c-navigation {
        flex-basis: 80%;
    }
    
    .c-navigation__list {
        padding: 0;
        text-align: $right;
        margin-bottom: 0;
        display: $flex;
        justify-content: $spacebetween;
        align-items: $center;
    }
    
    .dropdown {
        .dropdown-menu {
            &.show {
                background: $transparent;
                padding: 10px;
                border: $transparent;
                box-shadow: 0 0 5px #bbbbbb7d;
                margin-top: 20px;
                .dropdown-item {
                    margin-bottom: 7px;
                    display: $block;
                    text-align: $left;
                }
            }
        }
        &.show {
            #dropdownMenuButton {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }
        #dropdownMenuButton {
            &::after {
                content: '';
                border-left: 5px solid $transparent;
                border-right: 5px solid $transparent;
                border-top: 6px solid $white;
                position: $absolute;
                top: 7px;
                margin: 0 5px;
            }
            &:hover {
                &::after {
                    content: '';
                    border-left: 5px solid $transparent;
                    border-right: 5px solid $transparent;
                    border-top: 6px solid $white;
                    background: $unset;
                    width: $unset;
                    height: $unset;
                    bottom: $unset;
                    left: $unset;
                }
            }
        }
    }
    
    .dropdown-mobile {
        display: $none;
    }
    
    .c-navigation__list-item {
        display: inline-block;
        margin: 0 1.5rem;
        position: $relative;
        text-transform: $uppercase;
        &.unset_after {
            a {
                &:hover {
                    &::after {
                        content: $unset;
                    }
                }
            }
        }
        a {
            @include color--font;
            font-weight: 400;
            font-size: 16px;
            text-transform: $initial;
            &.active {
                position: $relative;
                &:after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: $white;
                    position: $absolute;
                    bottom: -0.4rem;
                    left: 0;
                    transition: .3s;
                }
            }
            &:hover {
                position: $relative;
                &:after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: $white;
                    position: $absolute;
                    bottom: -0.4rem;
                    left: 0;
                    transition: .3s;
                }
            }
        }
    }
    
    .c-navigation__list-item:last-of-type {
        &:after {
            background: $transparent;
        }
    }
    
    .c-navigation__list-item--active {
        opacity: 1;
        >a {
            position: $relative;
            &:after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: $white;
                position: $absolute;
                bottom: -0.4rem;
                left: 0;
            }
        }
    }
    
    .c-cta__button {
        border: 0;
        background-color: $transparent;
        display: $inline-block;
    }
    
    .c-cta__button__menu {
        width: 20px;
        height: 2px;
        background-color: $white;
        position: $relative;
        &.open {
            transform: rotate(-125deg);
            &::before {
                top: 0px;
                transform: rotate(-120deg);
            }
        }
        &:before {
            content: "";
            width: $inherit;
            height: $inherit;
            background-color: $inherit;
            position: $absolute;
            left: 0;
        }
        // &:after {
        //     bottom: -5px;
        // }
        &:before {
            top: -5px;
        }
    }
    
    .button_menu {
        width: 30px;
        height: 30px;
        // background: $black;
        position: $absolute;
        right: 3%;
        margin: -15px 0;
        z-index: 1;
        transition: .3s;
        display: $none;
        &.open {
            span {
                transform: rotate(45deg);
                transition: .3s;
                &:nth-child(2) {
                    top: 10px;
                    transform: rotate(-45deg);
                    transition: .3s;
                }
            }
        }
        span {
            width: 30px;
            height: 1px;
            background: $white;
            position: $absolute;
            transition: .3s;
            top: 10px;
            &:nth-child(2) {
                top: 20px;
            }
        }
    }
    
    .mobile--menu {
        display: $none;
        height: 100vh;
        &.open {
            display: $block;
            width: 35%;
            position: $absolute;
            right: 0;
            background: $black;
            top: 0;
            padding: 25px;
            transition: .3s;
        }
        .mobile--navbar {
            margin-top: 45px;
            .li--nav {
                list-style: $none;
                margin-bottom: 12px;
                .link--style {
                    font-size: 18px;
                    font-weight: 500;
                    font-family: $roboto;
                    color: $white;
                    text-transform: $uppercase;
                }
            }
        }
    }
    
    .search--icon {
        display: $none;
    }
    
    .mobile--menu {
        .dropdown--menu {
            .link--style {
                background: $transparent;
                border: $transparent;
                text-transform: $uppercase;
                &::after {
                    content: '';
                    border-left: 5px solid $transparent;
                    border-right: 5px solid $transparent;
                    border-top: 6px solid $white;
                    position: $absolute;
                    top: $auto;
                    margin: 7px 5px;
                    right: 10px;
                    transition: .3s;
                }
                &.open {
                    &::after {
                        transform: rotate(180deg);
                        transition: .3s;
                    }
                }
            }
        }
    }
    
    .dropdown-mobile {
        &.open {
            display: $block;
        }
    }
    
    .drop--menu {
        display: $block;
        color: $white;
        font-size: 14px;
        margin: 5px 8px;
        &:hover {
            display: $block;
            color: $white;
            font-size: 14px;
            margin: 5px 8px;
        }
    }